//Обнуление стилей
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

main,
section,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:link a:visited,
a:hover {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
// Стили проекта
body {
  font-family: $ffamily-def;
  font-size: $fsize-def;
  color: $color-def;
  font-weight: $fweight-def;
  line-height: $lheight-def;
  background-color: $bgColorMain;
}
.container {
  margin: 0 auto;
  max-width: $maxWidthContainer;

}
.wrapper {
  padding: $safetyPaddings;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  //Лечение swiper
  > * {
    min-width: 0;
  }
}

.main {
  flex: 1 1 auto;
}