// fonts
$ffamily-def: "Inter", sans-serif;
$fsize-def: 16px;
$fweight-def: 400;
$lheight-def: 150%;
// font-colors
$color-def: rgba(255, 255, 255, 0.70);
$color-sec:rgba(255, 255, 255, 0.90);
//bg-colors
$bgColorMain: #171717;

// Контейнер
$maxWidthContainer: 1200px;
$safetyPaddings: 0 15px;
